html,
body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.disabled {
    display: none;
}

#nav {
    align-items: center;
    background: #eee;
    border-bottom: 1px solid #000000;
    height: 5vh;
}

#nav * { 
    margin: 10px; 
}

#map {
    height: 95vh;
}

.control {
    display: flex;
    list-style: none;
    padding: 0 10px;
}

.button {
    margin: 5px 10px;
    padding: 10px 20px;
    border: 1px solid #000000;
    border-radius: 4px;
}

.button:hover {
    background: #696969;
}

.button-long {
    padding: 10px 50px;
}

.alert {
    padding: 4px 8px;
    border-radius: 4px;
}

.alert-warning {
    background: #f1c2c2;
}